html {
     background-color: black;
     margin-top: 2em;
     width: 80%;
     font-family: arial;
     color: white
     }

body {
    margin: auto;
    background-color: white;
    border: 4px;
    border-radius: 20px;
    padding-left: 30px;
    font-size: 1.2em;
    width: 65%
}

body h1 {
color:grey; font-family:verdana;
text-align: center;
font-size: 1.2em;
}

.maindiv {
  background-color: white;
  color:black;
  width: 300px;
    border: 4px;
    border-radius: 25px;
    padding-left: 30px;
    font-size: 1.5em;
    width: 65%
}

button
{
    text-align: center;
    font-size: 0.8em;
}

result
{
    font-size: 1.2em;
    padding-left: 2em;
    margin: 7px 0px
}

footer {    
margin: 0px 16px;
font-size: 0.8em;
padding-left: 0px;
padding-bottom: 0.8em;
}
